<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <h1>QUESTION ANSWERING</h1>
    <ul class="option" method="POST">
        <a href=""><li style="background-color: rgb(253, 253, 253);" class="text" jscontroller="soHxf" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc; touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;mlnRJb:fLiPzd;" 
                data-idom-class="Rj2Mlf OLiIxf PDpWxe LQeN7 irkilc" aria-label="Text translation"><i style="font-size:25px;color: rgb(0, 132, 255)" class="material-icons">&#xe262;</i><span style="font-size:18px;color: rgb(0, 132, 255)" jsname="V67aGc" class="VfPpkd-vQzf8d" aria-hidden="true">Text</span></li></a>
        <li style="background-color: rgb(0, 0, 0);" class="document" jscontroller="soHxf" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc; touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;mlnRJb:fLiPzd;" 
                data-idom-class="Rj2Mlf OLiIxf PDpWxe LQeN7 irkilc" aria-label="Text translation"><i style="font-size:25px;color: rgb(0, 132, 255)"class="fa">&#xf0f6;</i><span style="font-size:18px;color: rgb(0, 132, 255)" jsname="V67aGc" class="VfPpkd-vQzf8d" aria-hidden="true"> Document</span></li>
    </ul>
        <div class="container">
            <div class="column">
                <div class="container-lg" style="width:800px" >    
                    <form method="POST" enctype='multipart/form-data'>
                        <div class="row">
                            <div class="col-75">Paragraph:
                               
                            </div>
                            <div class="col-75">
                                <textarea id="para" name="para" placeholder="..." style="height:100px">{{para}}</textarea>
                                <input type = "file" id="na" name = "File" /> {{note}}
                                <button onclick="MyFunction()" style="margin-left:40px">
                                  <input type="submit" id="Submit">
                                </button>
                                <script>
                              function MyFunction() {
                              document.getElementById("na").innerHTML = "...";

                              }
                              </script>
                            </div>
                        </div>
                      </form>
                        <form method="POST" enctype='multipart/form-data'>
                        <div class="row">
                            <div class="col-75">Question                       :           
                             
                            </div>
                            <div class="col-75">     
                                <textarea id="qa" name="qa" placeholder="..." style="height:100px">{{qa}}</textarea>                   
                            </div>
                           </div>
                    </form>        
                </div>
            </div>
            <div class="column">      
               <i class="fa" id="logo"style="margin-top:150px;margin-left:-150px; color:orange">&#xf250;</i>
            </div>
            <div class="column">
              <div class="qt" style= "width:550px;margin-left:-100px;font-size: medium;">My answer is:</div>
               <div class="output" style= "width:550px;margin-left:-100px;font-size: medium;">{{message}}</div>
            </div>
        </div>

</body>
</html>
